body {
    margin: 0;
    overflow: hidden;
}
.bg-big {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.absolute-center {
    position: absolute!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.display-block {
    display: block!important;
}
.color-white {
    color: white!important;
}
.text-shadow-gray {
    text-shadow: 0px 0px 3px #b1b1b1;
}
.ui.segment {
    padding: 0;
    border: none;
}