body {
    margin: 0;
    overflow: hidden;
}
.bg-big {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.absolute-center {
    position: absolute!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}